### 1. How to import pandas and check the version?

In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.0'

### 2. How to create a series from a list, numpy array and dict?

In [3]:
import numpy as np

In [4]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
serie_1 = pd.Series(mylist)
serie_2 = pd.Series(myarr)
serie_3 = pd.Series(mydict)

In [6]:
serie_3.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

### 3. How to convert the index of a series into a column of a dataframe?

In [7]:
df = serie_3.reset_index()

In [8]:
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### 4. How to combine many series to form a dataframe?

In [16]:
serie1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
serie2 = pd.Series(np.arange(26))

In [17]:
# 1
series = pd.concat([serie1,serie2], axis=1)
series.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

In [18]:
# 2
dic_series = {"serie1":serie1, "serie2":serie2}
series = pd.DataFrame(dic_series)
series.head()

  serie1  serie2
0      a       0
1      b       1
2      c       2
3      e       3
4      d       4